
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <div class="jumbotron text-info bg-light jumheight1">
    <h1>CodingAsk论坛</h1>
    <p>Coding爱好者的聚集地</p>
  </div>
  <!-- 轮播图 -->
  <!-- 指示符 -->
  <div class="row">
    <div class="left">
      <div id="demo" class="carousel slide " data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <!-- 轮播图片 -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
          </div>
          <div class="carousel-item">
            <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
          </div>
          <div class="carousel-item">
            <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
          </div>
        </div>
        <!-- 左右切换按钮 -->
        <a href="#demo" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#demo" class="carousel-control-next" data-slide=next>
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="right">
      <!-- 注册 窗口 -->
      <div class="card">
        <div class="card-header">
          用户注册
          <span style="font-size:4px;color:red;" [hidden]="isFail">
                  {{RegisterFailMsg}}
          </span>
        </div>
        <div class="card-body">
          <form [formGroup]="forModel" (submit)="doRegister()">
            <table style="border-collapse: separate;border-spacing: 0px 10px;">
              <tr>
                <td class="margin-top:10">
                  <label>用户名：</label>
                </td>
                <td>
                  <input required="required" formControlName="username" type="text" name="username" class="username">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="pwd">密码:</label>
                </td>
                <td>
                  <input formControlName="password" type="password" id="pwd" >
                </td>
              </tr>
              <tr>
                <span style="font-size:4px;" [hidden]="!forModel.hasError('required','password')">
                  用户名和密码不能为空
                </span>
              </tr>
            </table>

            <div class="footer">
              <input type="submit" value="注册" class="btn btn-primary"/>
              <button type="button" class="btn btn-link"><small>忘记密码？</small></button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron bg-light jumheight2">
    <p class="footer2">@CodingAsk</p>
  </div>
</div>
</body>
</html>
