<div class="contain" nz-row>
  <div  nz-row>
    <div nz-col  nzSpan="18" class="contain_left">
      <h1>{{invDetial[0].title}}</h1>
      <div style="border:  1px solid #a7bfe8;width: 100%;">{{invDetial[0].content}}</div>
      <div [hidden]="isCanReply">要回复问题请先<a routerLink="/login">登录或注册</a> </div>
      <div [hidden]="!isCanReply" *ngFor="let reply of replyInfo " style="padding: 10px 0px 0px 0px;border: 1px solid brown"><nz-comment nzAuthor="{{reply.user.username}}" [nzDatetime]="time">
        <nz-avatar
          nz-comment-avatar
          nzIcon="user"
          nzSrc="{{reply.user.avatarUrl}}"
        ></nz-avatar>
        <nz-comment-content>
          <p>
            {{reply.content}}
          </p>
        </nz-comment-content>
        <nz-comment-action>
          <i
            nz-tooltip
            nzTitle="Like"
            nz-icon
            nzType="like"
            [theme]="likes > 0 ? 'twotone' : 'outline'"
            (click)="like()"
          ></i>
          <span class="count like">{{ likes }}</span>
        </nz-comment-action>
        <nz-comment-action>Reply to</nz-comment-action>
      </nz-comment></div>
    </div>
    <div nz-col nzSpan="6" class="contain_right" >
      <h3 style="padding: 30px 0 0 0;">帖子发布者</h3>
      <span>
             <img src='{{invDetial[0].imgurl}}' style="height: 32px;width: 32px"/>
             {{invDetial[0].author}}</span>
      <div>
        <p>浏览: 44
        <p>关注: 1 人
      </div>
    </div>
  </div>
</div>
