<div class="contain" nz-row>
  <div  nz-row>
    <div nz-col  nzSpan="18" class="contain_left">
      <h1>{{invDetial[0].title}}</h1>
      <div style="border:  1px solid #a7bfe8;width: 100%;height: 500px;">{{invDetial[0].content}}</div>
      <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
            <nz-comment-content>
              <p>{{ item.content }}</p>
            </nz-comment-content>
          </nz-comment>
        </ng-template>
      </nz-list>
      <nz-comment>
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
        <nz-comment-content>
          <nz-form-item>
            <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
          </nz-form-item>
          <nz-form-item>
            <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
              Add Comment
            </button>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>

      <div [hidden]="isCanReply">要回复问题请先<a routerLink="/login">登录或注册</a> </div>
      <div [hidden]="!isCanReply" *ngFor="let reply of replyInfo " style="padding: 10px 0px 0px 0px;border: 1px solid brown"><nz-comment nzAuthor="{{reply.user.username}}" [nzDatetime]="time">
        <nz-avatar
          nz-comment-avatar
          nzIcon="user"
          nzSrc="{{reply.user.avatarUrl}}"
        ></nz-avatar>
        <nz-comment-content>
          <p>
            {{reply.content}}
          </p>
        </nz-comment-content>
        <nz-comment-action>
          <i
            nz-tooltip
            nzTitle="Like"
            nz-icon
            nzType="like"
            (click)="like()"
          ></i>
          <span class="count like">{{ reply.like }}</span>
        </nz-comment-action>
        <nz-comment-action>Reply to</nz-comment-action>
        <span > 回复时间：{{ reply.replytime }}</span>
      </nz-comment></div>
    </div>
    <div nz-col nzSpan="6" class="contain_right" >
      <h3 style="padding: 30px 0 0 0;">帖子发布者</h3>
      <span>
             <img src='{{invDetial[0].imgurl}}' style="height: 32px;width: 32px"/>
             {{invDetial[0].author}}</span>
      <div>
        <p>浏览: 44
        <p>关注: 1 人
      </div>
    </div>
  </div>
</div>
