<ul nz-menu nzMode="horizontal" style="text-align: center">
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="up" nzTheme="outline" nzSelected></i>
    CodingAsk
  </li>
  <li nz-menu-item >
    <i nz-icon nzType="windows" nzTheme="outline"></i>
    <span routerLink="/index">首页</span>
  </li>

  <li nz-menu-item >
    <i nz-icon nzType="select" nzTheme="outline"></i>
    <a style="display: inline;" (click)="swichpage(1)">JAVA基础</a>
  </li>
  <li nz-menu-item >
    <i nz-icon nzType="select" nzTheme="outline"></i>
    <a style="display: inline;" (click)="swichpage(2)">Spring全家桶</a>
  </li>
  <li nz-menu-item >
    <i nz-icon nzType="select" nzTheme="outline"></i>
    <a style="display: inline;" (click)="swichpage(3)">Mybatis</a>
  </li>
  <li nz-menu-item [hidden]="isShow">
    <i nz-icon nzType="login" nzTheme="outline"></i>
    <span routerLink="/login">登录</span>
  </li>

  <li nz-submenu nzTitle="我" nzIcon="setting" [hidden]="!isShow">
    <ul>
      <ul>
        <li nz-menu-item>
          <i nz-icon nzType="user-add" nzTheme="outline"></i>
          个人中心
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="logout" nzTheme="outline"></i>
          <span (click)="doLogOut()">退出</span>
        </li>
      </ul>
    </ul>
  </li>
</ul>
<router-outlet></router-outlet>
