<div class="contain" nz-row>
  <div class="contain_left" nz-col nzSpan="16">
    <div style="border-bottom: 1px solid black;">
      <i style="padding: 3px;"nz-icon nzType="unordered-list" nzTheme="outline"></i>
         <span style="font-size: 14px;">首页</span>
    </div>
    <div  nz-row style="border: 1px solid brown;margin: 14px;">
      <div nz-col   nzSpan="1" >
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1568457689067&di=ecc6a53af5f32c34935667b3c39775a0&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F458af12108c4da0f1cf4fe8e2713a458898e332b28196-jdjJ3j_fw658" />
      </div>
      <div nz-col nzSpan="23">
         <div>我是标题</div>
        <div>查看详情</div>
      </div>
    </div>
    <div  nz-row style="border: 1px solid brown;margin: 14px;">
      <div nz-col   nzSpan="1" >
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1568457689067&di=ecc6a53af5f32c34935667b3c39775a0&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F458af12108c4da0f1cf4fe8e2713a458898e332b28196-jdjJ3j_fw658" />
      </div>
      <div nz-col nzSpan="23">
         <div>我是标题</div>
        <div>查看详情</div>
      </div>
    </div>
    <div  nz-row style="border: 1px solid brown;margin: 14px;">
      <div nz-col   nzSpan="1" >
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1568457689067&di=ecc6a53af5f32c34935667b3c39775a0&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F458af12108c4da0f1cf4fe8e2713a458898e332b28196-jdjJ3j_fw658" />
      </div>
      <div nz-col nzSpan="23">
         <div>我是标题</div>
        <div>查看详情</div>
      </div>
    </div>
  </div>
  <div class="contain_right" nz-col nzSpan="8">
    <span>热门话题</span>
  </div>
</div>
