.contain{
  width:auto;
  padding-left: 12%;
}
.contain_left{
  display: inline;
  border: 1px solid #ee9ca7;
}
.contain_right{
  display: inline;
  margin-left: 3px;
  width: 200px;
  border: 1px solid #ee9ca7;
}
img{
  text-align: center;
  width: 40px;
  height: 40px;
}

